<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1><%= title %></h1>
    <form action="/meals" method="post">
      <label>Meal: </label>
      <input type="text" name="name">
      <button type="submit">Add Meal</button>
    </form>
      <h3>Check out the meals we already have</h3>
      <ul>
        <% meals.forEach(meal => { %>
          <li><%= meal.name %></li>
        <% }) %>
      </ul>
  </main>

<%- include('../partials/footer') %>